<h1>Edit Item (<%= @item.name %>)</h1>

<div>
<%= form_for( @item ) do |frm| %>

<%=  frm.label :name %>
<%=  frm.text_field :name %>

<%=  frm.label :description %>
<%=  frm.text_field :description %>

<%=  frm.label :quantity %>
<%=  frm.number_field :quantity %>

<%=  frm.label :asset_number %>
<%=  frm.text_field :asset_number %>

<%= frm.submit "Update", class: "btn btn-primary" %>

<% end %>
</div>