<!DOCTYPE html>
<html>
<head>
  <title><%= yield( :title ) %> | Equipment Database</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header><h1>Equipment Database</h1></header>

<div><%= yield %><div>

<footer><%= debug( params ) if Rails.env.development? %></footer>

</body>
</html>
